<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Name" value="Artem"/>
    <add key="Email" value="mailAddr@mail.ru"/>
    <add key="EmailIncorrect" value="incorrectAddr"/>
    <add key="AuthEmail" value="qljagzyb@laste.ml"/>
    <add key="AuthPassword" value="74zQSWaW"/>
  </appSettings>
</configuration>